<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	{%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  </head>
  <body>
  	<div id="content">
      {{ content }}
	</div>
	<footer>
		<p>Site by <a href="https://zacwe.st">Zac West</a>. Contribute to this page on <a href="https://github.com/zacwest/iosfontsizes.com">GitHub</a>.
	</footer>
  </body>
</html>