<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	{%- seo -%}

    {% capture styles %}
    {% include main.scss %}
    {% endcapture %}

    <style>{{ styles | scssify | strip_newlines }}</style>
  </head>
  <body>
  	<div id="content">
      {{ content }}
	</div>
	<footer>
		<p>Site by <a href="https://zacwe.st">Zac West</a>. Contribute on <a href="https://github.com/zacwest/iosfontsizes.com">GitHub</a>.</p>
	</footer>
  </body>
</html>